# Hidden folders
.idea/
.gradle/
.Rproj.user/
.devcontainer/

# Build folders
build/
out/
target/

# Project file, compiled bytecode, logs, archives, scripts, libraries
*.iml
*.class
*.log
*.txt
*.jar
*.war
*.zip
*.tar.gz
*.rar
*.sh
*.bat
*.py
*.dll
*.so
/logs/
/data/
/analysis/
/braccio/
docker-compose.yml
Nexus.kt

# Gradle
!/gradle/wrapper/gradle-wrapper.jar
!/gradlew.bat
# Windows Batch runner
!/fbsat.bat
# Specific scripts
!/scripts/runner.py
.Rproj.user
