<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="logDir">logs</Property>
        <Property name="baseName">fbsat</Property>
    </Properties>

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%highlight{[%date{HH:mm:ss}] [%level] %logger: %message}{DEBUG=bright black, INFO=bright blue, WARN=bright magenta, ERROR=bright red}%n%throwable"
                disableAnsi="false"/>
            <Filters>
                <RegexFilter regex="(?s)^// .*" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
        </Console>

        <Console name="STDOUT-fbsat" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%highlight{[%date{HH:mm:ss}] [%level{TRACE=T, DEBUG=D, INFO=I, WARN=W, ERROR=E}] %message}{DEBUG=bright black, INFO=bright blue, WARN=bright magenta, ERROR=bright red}%n%throwable"
                disableAnsi="false"/>
            <Filters>
                <MarkerFilter marker="NO_CONSOLE" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
        </Console>

        <RollingFile name="rollingFile"
                     fileName="${logDir}/${baseName}.log"
                     filePattern="${logDir}/${baseName}_%date{yyyyMMdd}_%i.log.gz">
            <PatternLayout pattern="[%date{yyyy-MM-dd HH:mm:ss,SSS}] [%level] %logger: %message%n%throwable"/>
            <Filters>
                <RegexFilter regex="(?s)^// .*" onMatch="DENY" onMismatch="NEUTRAL"/>
                <!--<RegexFilter regex="(?s)^solve\(assumptions" onMatch="DENY" onMismatch="NEUTRAL"/>-->
            </Filters>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy fileIndex="nomax">
                <Delete basePath="${logDir}" maxDepth="1">
                    <IfFileName glob="*/${baseName}_*.log.gz">
                        <IfLastModified age="30d">
                            <IfAny>
                                <IfAccumulatedFileSize exceeds="1 GB"/>
                                <IfAccumulatedFileCount exceeds="10"/>
                            </IfAny>
                        </IfLastModified>
                    </IfFileName>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- fbSAT: log (DEBUG to stdout, excluding NO_CONSOLE marker] and (DEBUG to rollingFile) -->
        <Logger name="ru.ifmo.fbsat" level="debug" additivity="false">
            <AppenderRef ref="STDOUT-fbsat" level="debug"/>
            <AppenderRef ref="rollingFile" level="debug"/>
        </Logger>

        <!-- Mongo: log only INFO+ -->
        <Logger name="org.mongodb.driver" level="info"/>

        <!-- Others: log (WARN to stdout) and (DEBUG to rollingFile) -->
        <Root level="debug">
            <AppenderRef ref="STDOUT" level="warn"/>
            <AppenderRef ref="rollingFile" level="debug"/>
        </Root>
    </Loggers>
</Configuration>
